<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="30200">
    <setting id="photo_library_path" type="folder" label="30210" default=""/>
    <setting id="display_adjusted" type="bool" label="30211" default="false"/>
    <setting id="view_mode" type="enum" label="30330" lvalues="30331|30332|30333|30334" default="1"/>
  </category>
</settings>
